#register {
    border: solid 1px #111111;
    background: #EEEEEE;
    margin: 0 auto;
    width: 325px;
    padding: 10px;
    text-align: center;
}

#register .form-input {
}

#register label {
    display: block;
    text-align: right;
    float: left;
    width: 125px;
    padding: 2px 2px;
}

#register .input {
    float: left;
    font-size: 12px;
    padding: 2px 2px;
    border: solid 1px #BBBBBB;
    width: 175px;
    margin: 0 0 5px 10px;
}

#register .submit {
    width: 125px;
    display: inline-block;
}

#register .form-errors {
    border: solid 1px #880000;
    background: #FFAAAA;
}

#register .form-error {
    text-align: left;
    color: #880000;
    padding: 5px 0px;
}
